.gnb-wrapper {max-width: 576px; margin: 0 auto; height: 100vh; position: relative; border-left: 1px solid #ddd; border-right: 1px solid #ddd; overflow: hidden;}
header, footer {width: 100%; height: 50px; background-color: #333; color: #fff; font-size: 1.25em; position: absolute; transition: all .5s; z-index: 2;}
.header-wrapper {left: 0; top: 0; display: flex; align-items: center; padding-left: 1em; transform: translateY(-50px);}
.header-wrapper.active {transform: translateY(0);}
.header-wrapper .bt-prev {cursor: pointer;}
.footer-wrapper {left: 0; bottom: 0; display: flex; justify-content: center; align-items: center; font-size: .875em; color: #aaa; transform: translateY(50px);}
.footer-wrapper.active {transform: translateY(0);} 
.wrapper {width: 200%; height: 100%; padding: 50px 0; display: flex; transition: all .5s;}
.wrapper.active {transform: translateX(-50%);}
.wrapper > section {width: 100%;}
.home-wrapper {display: flex; align-items: center; justify-content: center; text-align: center;}
.home-wrapper h1.logo {font-size: 2em; margin-bottom: .5em;}

.weather-wrapper > div {height: 100%; display: none; justify-content: center; align-items: center; flex-direction: column;}
.weather-wrapper > div.active {display: flex;}

.daily-wrap .name-wp {margin-bottom: 1em;}
.daily-wrap .city {font-size: 3em;}
.daily-wrap .country {font-size: 1.5em;}

.daily-wrap .dt-wp {margin-bottom: 2em;}
.daily-wrap .dt-wp .dt {font-size: 1.125em;}

.daily-wrap .icon-wp {margin-bottom: 2em;}

.daily-wrap .temp-wp {margin-bottom: 1em; font-size: 1.25em; text-align: center;}
.daily-wrap .temp-wp .temp {font-size: 2em; line-height: 1.2;}

.daily-wrap .info-wp {font-size: 1.5em;}

.weather-wrapper .weekly-wrap {align-items: stretch;}
.weekly-wrap .name-wp {height: 50px; margin-bottom: 10px; text-align: center;}
.weekly-wrap .list-wp {height: calc(100% - 100px); border-top: 2px solid #ccc; border-bottom: 2px solid #ccc;}

.weekly-wrap .city {font-size: 2em;}
.weekly-wrap .country {font-size: 1.25em;}

.weekly-wrap .list-wp .list {display: flex; align-items: center; border-bottom: 1px solid #ddd;}
.weekly-wrap .list-wp .list .info-wp {flex-grow: 1;}

.weekly-wrap .temps {margin-bottom: .5em;}
.weekly-wrap .temp {font-size: 1.5em;}
.weekly-wrap .min {font-size: 1.25em;}
.weekly-wrap .max {font-size: 1.25em;}

.weekly-wrap .infos {margin-bottom: .5em;}
.weekly-wrap .main {font-size: 1.5em;}
.weekly-wrap .desc {font-size: 1.25em;}

.weekly-wrap .dts {color: #777;}

